<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.jpg" />
		<link rel="icon" href="/logo.jpg" />
		<meta name="generator" content={Astro.generator} />
		<title>Invitación de Boda Gaby y Luis</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style lang="scss">
	html {
    scroll-behavior: smooth;
  }

	body {
    background-color: white;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  
  li, ol, a {
    list-style: none;
    text-decoration: none;
  }

	* {
		box-sizing: border-box;
	}
</style>
